body {
    background: rgb(131,58,180);
    background: -webkit-linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    background: -moz-linear-gradient(0deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4",endColorstr="#fcb045",GradientType=1);
}
form{
    width: 300px;
    height: 400px;
    margin-top: -180px;
    margin-left: -150px;
    position: absolute;
    top: 40%;
    left: 50%;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    background-color: white;
    padding: 20px;
    text-align: center;
}

input {
    padding: 2px;
    width: 90%;
    height: 46px;
    border-radius: 6px;
    border: 1px solid #cccccc;
}

input#idUsuario{
    background-image: url("../img/user.jpg");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px;
}

input#idSenha{
    background-image: url("../img/password.jpg");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px;
}

button {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1rem;
    cursor: pointer;
    padding: 8px 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    border-color: lightgray;
    background-color: lightgray;
}

button:focus{
    color: white;
    border-color: dimgray;
    background-color: dimgray;
}

a {
    color: #831e22;
    cursor: pointer;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: underline;
}